<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Resume</title>
        <link href="css/Resume.css" rel="stylesheet">
    </head>
    
    <body>
        <!--Personal Information-->
        <div class="personalInfo">
            <h1><b>Laurence JIN</b></h1>
            <p>
                <span>Phone: +852 9516-4162</span> | 
                <a href=mailto:1155141435@link.cuhk.edu.hk style="color: black;">Email: 1155141435@link.cuhk.edu.hk</a><br>
                <span>Address: Shatin, N.T., Hong Kong SAR</span>
            </p>
        </div>
        <!--Objective-->
        <div class="objective">
            <h2>OBJECTIVE</h2>
            <p><b>Apply for employment as a part time Research Assistant.</b></p>
        </div>   
        <!--Education-->
        <div class="education">
            <h2>EDUCATION</h2>
            <!--CUHK-->
            <div class="time">
                <h3>The Chinese University of Hong Kong</h3>
                <p>Sep 2019 - Jul 2023</p>
            </div>
            <div class="location">
                <h4>B.Sc. in Risk Management Science (RMSC)</h4>
                <p>Hong Kong</p>
            </div>
            <p>Candidate Minor in Computer Science, Statistics</p>
            <ul>
                <li>GPA: 3.63 / 4.00, MGPA: 3.79 / 4.00</li>
                <li>Relevant Coursework: Risk Management (Statistical Modelling), Statistics (Applied Regression Analysis, Stochastic Processes), Finance (Corporate Finance, Financial Accounting), Computer Science (Database Systems, Data Structure)</li>
                <li>Academic Honors and Awards
                    <ul>
                        <div class="honor">
                            <li>
                                <span >Dean's List (Top 10% in Faculty)</span>        
                            </li>
                            <span>2020 - 2021</span>
                        </div>
                        
                        
                        <div class="honor">
                            <li>
                                <span >Master's List (Excellent Academic Performance at College)</span>
                            </li>
                            <span>2020 - 2021</span>
                        </div>
                        <div class="honor">
                            <li>
                                <span >Department of Statistics Scholarships (Top 2 in RMSC major)</span>
                            </li>
                            <span>2021 - 2022</span>
                        </div>
                    </ul>
                </li>
            </ul>
            <!--Peking University-->
            <div class="time">
                <h3>Peking University</h3>
                <p>Jul 2020</p>
            </div>
            <div class="location">
                <h4>Summer School, News and Broadcasting Institute</h4>
                <p>Beijing</p>
            </div>
            <ul>
                <li>Relevant Coursework: Media and International Relations</li>
                <li>Grade: 84 / 100</li>
            </ul>
        </div> 
        <!--Internship-->
        <div class="internship">
            <h2>INTERNSHIP EXPERIENCE</h2>
            <!--First-->
            <div class="time">
                <h3>The Chinese University of Hong Kong</h3>
                <p>Feb 2022 - Present</p>
            </div>
            <div class="location">
                <h4>Student Assistant, Faculty of Business Administration</h4>
                <p>Hong Kong</p>
            </div>
            <ul>
                <li>Developed and implemented data analysis regarding students who applied for CUHK Graduate Program</li>
                <li>Visualized the data and designed graphs & charts for reporting analysis results</li>
            </ul>
            <!--Second-->
            <div class="time">
                <h3>MINSHENG EQUITY INVESTMENT FUND MANAGEMENT CO., LTD.</h3>
                <p>May 2021 - Aug 2021</p>
            </div>
            <div class="location">
                <h4>Investment Manager Intern, Investment Management Department</h4>
                <p>Beijing</p>
            </div>
            <ul>
                <li>Analyzed and visualized the furnished data using Python or MS Excel</li>
                <li>Enhanced the accuracy of numerical results in self-compiled industry analysis reports</li>
                <li>Participated in the investment projects and presented several business proposals</li>
                <li>Gathered and categorized information and data through Wind or other relevant websites</li>
                <li>Assisted in general clerical tasks</li>
            </ul>
        </div>
        <!--Leadership-->
        <div class="leagership">
            <h2>LEADERSHIP EXPERIENCE</h2>
            <!--First-->
            <div class="time">
                <h3>Three Heart Club, Voluntary Teaching</h3>
                <p>Dec 2020</p>
            </div>
            <div class="location">
                <h4>Voluntary Teacher</h4>
                <p>Luanchuan, Luoyang</p>
            </div>
            <ul>
                <li>Conducted several voluntary teaching activities targeting students in remote areas</li>
                <li>Delivered six lectures related to mordern computer science</li>
                <li>Organized a sharing session regarding self-learning for around 200 students; Facilitated the process of each event</li>
            </ul>
            <!--Second-->
            <div class="time">
                <h3>CUHK Business School, Academic Cup</h3>
                <p>Jan 2020</p>
            </div>
            <div class="location">
                <h4>Student Helper</h4>
                <p>Hong Kong</p>
            </div>
            <ul>
                <li>Responsible for setting up venue, guiding on site, enquiries, and timings for the competition</li>
                <li>Managed the competition procedures smoothly</li>
            </ul>
        </div>
        <!--Skills and others-->
        <div class="skills">
            <h2>IT SKILLS & LANGUAGES</h2>
            <ul>
                <li><b>Software:</b> Experienced with MS Office, Markdown; Frequent user of PyCharm, RStudio, DataGrip, Wind</li>
                <li><b>Computer:</b> Expert in Python (Data Analysis/Visualization), R, MS Excel Macros; Basic knowledge of C, C++, Java</li>
                <li><b>Database Management:</b> Knowledgeable in DBMS (SQL, MySQL, etc.)</li>
                <li><b>Language:</b> Fluent in English (IELTS 7.5), Mandarin (mother tongue)</li>
            </ul>
        </div>
    </body>
</html>